
  <div id="table">
    <div style="margin-top:30px !important;margin-bottom:90px;margin-left:30px">
      <h4 style="float:left;">最近上映</h4>
      <div class="h4" (click)="addtable1(1)">添加</div>
    </div>
  <table id="tab01" class="table table-striped" border="1px">
    <tr>
      <td width='110px'>电影名称</td>
      <td width='97px'>电影评分</td>
      <td width="110px">图片</td>
      <td>电影介绍</td>
      <td width="110px">电影演员</td>
      <td width='120px'>操作</td>
    </tr>
  </table>
  
  <table id="tab02" class="table table-striped table-hover" border="1px">
    
    <tr *ngFor="let movie of movies1;let i = index">
      
      <td width='110px'>
            <textarea (change)="changeName($event,i,0)"  class="intText" cols="10" rows="10" value="{{movie.moviesName}}"></textarea>
          </td>
      <td width='50px'><input (change)="changeSco($event,i,0)"  class="intName" type="text" value="{{movie.moviesSco}}"></td>
      <td width='110px'>
        <textarea (change)="changeImg($event,i,0)"  class="intText" cols="10" rows="10" value="{{movie.moviesImg}}"></textarea>
      </td>
      <td>
          <textarea (change)="changeIntro($event,i,0)"  class="intText" cols="10" rows="10" value="{{movie.moviesIntro}}"></textarea>
      </td>
      <td width='110px'>
        <textarea (change)="changeRolesactor($event,i,0)"  class="intText" cols="10" rows="10" value="{{movie.rolesActor}}"></textarea>
      </td>
      <td width='120px'>
        <button class="btn btn-default" type="submit" (click)="add(i,0)">保存</button>
        <button class="btn btn-default" type="submit" (click)="del(i,0)">删除</button>
      </td>
    </tr>

  </table>
</div>

<div id="table">
  <div style="margin-top:30px !important;margin-bottom:90px;margin-left:30px">
    <h4 style="float:left;">热映电影</h4>
    <div class="h4" (click)="addtable1(2)">添加</div>
  </div>
    <table id="tab01" class="table table-striped" border="1px">
      <tr>
        <td width='110px'>电影名称</td>
        <td width='97px'>电影评分</td>
        <td width="110px">图片</td>
        <td>电影介绍</td>
        <td width="110px">电影演员</td>
        <td width='120px'>操作</td>
      </tr>
    </table>
    
    <table id="tab02" class="table table-striped table-hover" border="1px">
      
      <tr *ngFor="let movie of movies2;let i = index">
        
        <td width='110px'>
              <textarea (change)="changeName($event,i,1)"  class="intText" cols="10" rows="10" value="{{movie.moviesName}}"></textarea>
            </td>
        <td width='50px'><input (change)="changeMoviestime($event,i,1)"  class="intName" type="text" value="{{movie.moviesTime}}"></td>
        <td width='110px'>
          <textarea (change)="changeImg($event,i,1)"  class="intText" cols="10" rows="10" value="{{movie.moviesImg}}"></textarea>
        </td>
        <td>
            <textarea (change)="changeIntro($event,i,1)"  class="intText" cols="10" rows="10" value="{{movie.moviesIntro}}"></textarea>
        </td>
        <td width='110px'>
          <textarea (change)="changeRolesname($event,i,1)"  class="intText" cols="10" rows="10" value="{{movie.rolesActor}}"></textarea>
        </td>
        <td width='120px'>
          <button class="btn btn-default" type="submit" (click)="add(i,1)">保存</button>
          <button class="btn btn-default" type="submit" (click)="del(i,1)">删除</button>
        </td>
      </tr>
  
    </table>
  </div>


  <div id="table">
    <div style="margin-top:30px !important;margin-bottom:90px;margin-left:30px">
      <h4 style="float:left;">评分最高</h4>
      <div class="h4" (click)="addtable1(3)">添加</div>
    </div>
      <table id="tab01" class="table table-striped" border="1px">
        <tr>
          <td width='110px'>电影名称</td>
          <td width='97px'>电影评分</td>
          <td width="110px">图片</td>
          <td>电影介绍</td>
          <td width='120px'>操作</td>
        </tr>
      </table>
      
      <table id="tab02" class="table table-striped table-hover" border="1px">
        
        <tr *ngFor="let movie of movies3;let i = index">
          
          <td width='110px'>
                <textarea (change)="changeName($event,i,2)"  class="intText" cols="10" rows="10" value="{{movie.moviesName}}"></textarea>
              </td>
          <td width='50px'><input (change)="changeSco($event,i,2)"  class="intName" type="text" value="{{movie.moviesSco}}"></td>
          <td width='110px'>
            <textarea (change)="changeImg($event,i,2)"  class="intText" cols="10" rows="10" value="{{movie.moviesImg}}"></textarea>
          </td>
          <td>
              <textarea (change)="changeIntro($event,i,2)"  class="intText" cols="10" rows="10" value="{{movie.moviesIntro}}"></textarea>
          </td>
          <td width='120px'>
            <button class="btn btn-default" type="submit" (click)="add(i,2)">保存</button>
            <button class="btn btn-default" type="submit" (click)="del(i,2)">删除</button>
          </td>
        </tr>
    
      </table>
    </div>

  <div id="table">
    <div style="margin-top:30px !important;margin-bottom:90px;margin-left:30px">
      <h4 style="float:left;">人物列表</h4>
    </div>
      <table id="tab01" class="table table-striped" border="1px">
        <tr>
          <td width='110px'>电影名称</td>
          <td width='97px'>角色ID</td>
          <td width='97px'>角色名</td>
          <td width='97px'>角色人物</td>
          <td>角色介绍</td>
          <td width="90px">图片</td>
          <td width='90px'>操作</td>
        </tr>
      </table>
      
      <table id="tab02" class="table table-striped table-hover" border="1px">
        
        <tr *ngFor="let movie of moviesRoles;let i = index">
          
          <td width='110px'>
                <textarea (change)="changeName($event,i,3)"  class="intText" cols="10" rows="10" value="{{movie.name}}"></textarea>
              </td>
          <td width='70px'><input (change)="changeRolesid($event,i,3)"  class="intName" type="text" value="{{movie.rolesId}}"></td>
          <td width='70px'><input (change)="changeRolesname($event,i,3)"  class="intName" type="text" value="{{movie.rolesName}}"></td>
          <td width='70px'><input (change)="changeRolesactor($event,i,3)"  class="intName" type="text" value="{{movie.rolesActro}}"></td>
          <td>
              <textarea (change)="changeRolesintro($event,i,3)"  class="intText" cols="10" rows="10" value="{{movie.rolesIntro}}"></textarea>
          </td>
          <td width='90px'>
              <textarea (change)="changeRolesimg($event,i,3)"  class="intText" cols="10" rows="10" value="{{movie.rolesImg}}"></textarea>
          </td>
          <td width='90px'>
            <button class="btn btn-default" type="submit" (click)="add(i,3)">保存</button>
            <button class="btn btn-default" type="submit" (click)="del(i,3)">删除</button>
          </td>
        </tr>
    
      </table>
    </div>
    <div id='alert1'>
      <h4 style="margin:30px">最近上映</h4>
      <table>
        <tr>
          <td>名称:</td>
          <td><input type="text" (change)="changeName1($event,0,0)" value=''></td>
        </tr>
        <tr>
          <td>评分:</td>
          <td><input type="text" (change)="changeSco1($event,0,0)"></td>
        </tr>
        <tr>
          <td>图片:</td>
          <td><input type="text" (change)="changeImg1($event,0,0)" value=''></td>
        </tr>
        <tr>
          <td>电影介绍:</td>
          <td><input type="text" (change)="changeIntro1($event,0,0)" value=''></td>
        </tr>
        <tr>
          <td>电影演员:</td>
          <td><input type="text" (change)="changeRolesactor1($event,0,0)" value=''></td>
        </tr>
        <tr height="40px">
          <td><button (click)="button1(0)">确定</button></td>
          <td style="text-align:center;"><button (click)='button2(1)'>取消</button></td>
        </tr>
      </table>
    </div> 
    <div id='alert2'>
      <h4 style="margin:30px">最近上映</h4>
      <table>
        <tr>
          <td>名称:</td>
          <td><input type="text" (change)="changeName1($event,1,0)" value=''></td>
        </tr>
        <tr>
          <td>评分:</td>
          <td><input type="text" (change)="changeSco1($event,1,0)"></td>
        </tr>
        <tr>
          <td>图片:</td>
          <td><input type="text" (change)="changeImg1($event,1,0)" value=''></td>
        </tr>
        <tr>
          <td>电影介绍:</td>
          <td><input type="text" (change)="changeIntro1($event,1,0)" value=''></td>
        </tr>
        <tr>
          <td>电影演员:</td>
          <td><input type="text" (change)="changeRolesactor1($event,1,0)" value=''></td>
        </tr>
        <tr height="40px">
          <td><button (click)="button1(1)">确定</button></td>
          <td style="text-align:center;"><button (click)='button2(2)'>取消</button></td>
        </tr>
      </table>
    </div> 

    <div id='alert3'>
      <h4 style="margin:30px">最近上映</h4>
      <table>
        <tr>
          <td>名称:</td>
          <td><input type="text" (change)="changeName1($event,2,0)" value=''></td>
        </tr>
        <tr>
          <td>评分:</td>
          <td><input type="text" (change)="changeSco1($event,2,0)"></td>
        </tr>
        <tr>
          <td>图片:</td>
          <td><input type="text" (change)="changeImg1($event,2,0)" value=''></td>
        </tr>
        <tr>
          <td>电影介绍:</td>
          <td><input type="text" (change)="changeIntro1($event,2,0)" value=''></td>
        </tr>
        <tr height="40px">
          <td><button (click)="button1(2)">确定</button></td>
          <td style="text-align:center;"><button (click)='button2(3)'>取消</button></td>
        </tr>
      </table>
    </div>  

