page-sweet {
    .pic{
        position: relative;
        text-align: center;
        p{
        position: absolute;
        width: 100%;
        top:4px;
        font-size: 35px;font-family: 'STXinwei';
        color: rgb(73,73,73);
        height: 80px;
        line-height: 80px;
        text-align: center;
        background-color:rgba(256,256,256,0.3);
        }
    }
    .fir{
        position: relative;
        p{
            position: absolute;
            top:-6px;left:60px;
            font-family: 'LiSu';font-size: 30px;color:#FFCD3C;
        }
    }
    .grid{padding:0px;}
    ion-col{
        
        position: relative;
        text-align: center;
        img{
            border-radius: 5%;
        }
        div{  text-align: center;
            border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;
            position: absolute;
            width:93%;
            bottom:9px;
            color:white!important;
            background-color: rgba(0,0,0,0.5)
        }
    }
}
