page-movie {
    ion-content{
        *{
            margin:0;
            padding:0
        }
        .sli{
            height: 30%;
        }
        #hot{
            font-size:25px!important;
        }
        .navList{
            padding-left: 0!important;
            list-style: none;
            .first{
                color:#ea6953!important;
            }
                li{
                    float: left;
                    text-align: center;
                    width: 33%;
                }
        }
        .movpage{
            .subtitle{
                height: 10%!important;
                margin-top: 12%!important;
                text-align: center;
                background: url(../../assets/imgs/movies/dec1.png);
                background-size: auto 125%;
                background-position: -40% 50%;
                h4{
                   height: 10%!important;
                   margin-bottom:-1%!important;
                }
                p{
                    text-align: center;
                    margin-bottom: 12%!important;
                }
            }
            li{
                border: 3px dotted #86ccc1;
                border-radius:50px;
            }
            .movIntro{
                margin-top: 4%!important;
                .movImg1{
                    float: left;
                    height: 30%;
                    margin-top: 0;
                    margin-left: 4%;
                }
                .movDet1{
                    height: 30px;
                    width: 50%;
                    float: left;
                    line-height: 2em;
                    margin-top: 0;
                    margin-left: 3%;
                    h5:hover{
                            color: #ea6953;
                        }
                    h5{
                        cursor:pointer
                    }
                    .pIntro{
                        height: 200%!important;
                        overflow: hidden!important;
                    }
                }
                .movImg2{
                    float: left;
                    height: 30%;
                    margin-top: 5%;
                    margin-left: 4%;
                }
                .movDet2{
                    height: 30px;
                    width: 50%;
                    float: left;
                    line-height: 2em;
                    margin-top: 6%;
                    margin-left: 3%;
                    h5:hover{
                        color: #ea6953;
                    }
                    h5{
                        cursor:pointer
                    }
                    .pIntro{
                        height: 200%!important;
                        overflow: hidden!important;
                    }
                }
            }
            .detail{
                // padding-left: 0!important;
                list-style: none;
                margin-top: -2%;
                .first{
                    color:#ea6953!important;
                }
                    li{
                        float: left;
                        text-align: center;
                        width: 33%;
                        // border: 2px solid #ea6953!important;
                    }
            }
            .score{
                color: #ea6953
            }
        }
        
    }
}