@font-face {
  font-family: 'iconfont';  /* project id 938532 */
  src: url('//at.alicdn.com/t/font_938532_mzog6cecfij.eot');
  src: url('//at.alicdn.com/t/font_938532_mzog6cecfij.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_938532_mzog6cecfij.woff') format('woff'),
  url('//at.alicdn.com/t/font_938532_mzog6cecfij.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_938532_mzog6cecfij.svg#iconfont') format('svg');
}
ion-header{
  background-color: #F0FFF3;
  
  ion-navbar{
      #my
      {
         font-size: 30px!important;
      }
      #search{
          font-size: 30px!important;
      }
  }
 
}

ion-content{
  background-color: #FAFAFA !important;
  color:rgb(73,73,73) !important;
  .sli{
    height: 30%;
}
}
ion-list{
  ion-item{
    background-color: #fafafa!important;
  }
}


