
<h1>攻略说后台管理系统</h1>
<div id="input">
  <input type="text" id="text" placeholder=" 请输入关键字查找" (focus)='focus($event)' (blur)='blur($event)'>
</div>

<h2>评论管理</h2>
<div style="margin-top:30px !important;margin-bottom:90px;margin-left:30px">
  <h4 style="float:left;">美食评论</h4>
  <div class="h4" (click)="addtable()">添加</div>
</div>
<div id="table">
  <table id="tab01" class="table table-striped" border="1px">
    <tr>
      <td width='80px'>序号</td>
      <td width='80px'>名称</td>
      <td width='80px'>用户ID</td>
      <td width='80px'>用户名称</td>
      <td width='110px'>用户头像</td>
      <td>内容</td>
      <td width='100px'>时间</td>
      <td width='148px'>操作</td>
    </tr>
  </table>
  <table id="tab02" class="table table-striped table-hover" border="1px">
    <tr *ngFor="let message of food_comment;let i = index">
      <td width='80px'><input (change)="changeId($event,i,0)" class="int" type="text" value="{{message.id}}"></td>

      <td width='80px'><input (change)="changeName($event,i,0)" class="int" type="text" value="{{message.name}}"></td>
      <td width='80px'><input (change)="changeUserid($event,i,0)" class="int" type="text" value="{{message.userId}}"></td>
      <td width='80px'><input (change)="changeUsername($event,i,0)" class="int" type="text" value="{{message.userName}}"></td>
      <td width='110px'>
          <textarea (change)="changeUserhead($event,i,0)" id="textArea" type="text" value="{{message.userHead}}"></textarea>
      </td>
      <td width="172px">
        <textarea (change)="changeContent($event,i,0)" id="textArea" type="text" value="{{message.content}}"></textarea>
      </td>
      <td width='100px'><input (change)="changeTime($event,i,0)"  class="intTime" type="text" value="{{message.time}}"></td>
      

      <td width='148px'>
        <button class="btn btn-default" type="submit" (click)="add(i,0)">保存</button>
        <button class="btn btn-default" type="submit" (click)="del(i,0)">删除</button>
      </td>
    </tr>

  </table>
</div>

<div style="margin-top:30px !important;margin-bottom:90px;margin-left:30px">
  <h4 style="float:left;">影视评论</h4>
  <div class="h4" (click)="addtable1()">添加</div>
</div>
<div id="table1">
  <table id="tab011" class="table table-striped" border="1px">
    <tr>
      <td width='80px'>序号</td>
      <td width='80px'>名称</td>
      <td width='80px'>用户ID</td>
      <td width='80px'>用户名称</td>
      <td width='110px'>用户头像</td>
      <td>内容</td>
      <td width='100px'>时间</td>
      <td width='148px'>操作</td>
    </tr>
  </table>
  <table id="tab021" class="table table-striped table-hover" border="1px">
    <tr *ngFor="let message of movie_comment;let i = index" >
      <td width='80px'><input (change)="changeId($event,i,1)" class="int" type="text" value="{{message.id}}"></td>

      <td width='80px'><input (change)="changeName($event,i,1)" class="int" type="text" value="{{message.name}}"></td>
      <td width='80px'><input (change)="changeUserid($event,i,1)" class="int" type="text" value="{{message.userId}}"></td>
      <td width='80px'><input (change)="changeUsername($event,i,1)" class="int" type="text" value="{{message.userName}}"></td>
      <td width='110px'>
          <textarea (change)="changeUserhead($event,i,1)" id="textArea1" type="text" value="{{message.userHead}}"></textarea>
        </td>
      <td >
        <textarea (change)="changeContent($event,i,1)" id="textArea" type="text" value="{{message.content}}"></textarea>
      </td>
      <td width='100px'><input (change)="changeTime($event,i,1)"  class="intTime" type="text" value="{{message.time}}"></td>
      

      <td width='148px'>
        <button class="btn btn-default" type="submit" (click)="add(i,1)">保存</button>
        <button class="btn btn-default" type="submit" (click)="del(i,1)">删除</button>
      </td>
    </tr>

  </table>
</div>

<div id='alert1'>
  <h4 style="margin:30px">美食评论</h4>
  <table>
    <tr>
      <td>序号:</td>
      <td><input type="text" (change)="changeId1($event,0,0)" value=''></td>
    </tr>
    <tr>
      <td>名称:</td>
      <td><input type="text" (change)="changeName1($event,1,0)"></td>
    </tr>
    <tr>
      <td>用户ID:</td>
      <td><input type="text" (change)="changeUserid1($event,2,0)"></td>
    </tr>
    <tr>
      <td>用户名称:</td>
      <td><input type="text" (change)="changeUsername1($event,3,0)"></td>
    </tr>
    <tr>
      <td>用户头像:</td>
      <td><input type="text" (change)="changeUserhead1($event,4,0)"></td>
    </tr>
    <tr>
      <td>内容:</td>
      <td><input type="text" (change)="changeContent1($event,5,0)"></td>
    </tr>
    <tr>
      <td>时间:</td>
      <td><input type="text" (change)="changeTime1($event,6,0)"></td>
    </tr>
    <tr>
      <td><button (click)="button1(0)">确定</button></td>
      <td style="text-align:center;"><button (click)='button2()'>取消</button></td>
    </tr>
  </table>
</div>
<div id='alert2'>
  <h4 style="margin:30px">影视评论</h4>
  <table>
    <tr>
      <td>序号:</td>
      <td><input type="text" class="values" (change)="changeId1($event,0,1)"></td>
    </tr>
    <tr>
      <td>名称:</td>
      <td><input type="text" class="values" (change)="changeName1($event,1,1)"></td>
    </tr>
    <tr>
      <td>用户ID:</td>
      <td><input type="text" class="values" (change)="changeUserid1($event,2,1)"></td>
    </tr>
    <tr>
      <td>用户名称:</td>
      <td><input type="text" class="values" (change)="changeUsername1($event,3,1)"></td>
    </tr>
    <tr>
      <td>用户头像:</td>
      <td><input type="text" class="values" (change)="changeUserhead1($event,4,1)"></td>
    </tr>
    <tr>
      <td>内容:</td>
      <td><input type="text" class="values" (change)="changeContent1($event,5,1)"></td>
    </tr>
    <tr>
      <td>时间:</td>
      <td><input type="text" class="values" (change)="changeTime1($event,6,1)"></td>
    </tr>
    <tr>
      <td><button (click)="button1(1)">确定</button></td>
      <td style="text-align:center;"><button (click)='button3()'>取消</button></td>
    </tr>
  </table>
</div>