page-movie {
    ion-content{
        .sli{
            height: 30%;
        }
        #hot{
            font-size:25px!important;
        }
        .navList{
            padding-left: 0!important;
            list-style: none;
            .first{
                color:#FF7E67;
            }
                li{
                    border: 1px solid #FF7E67;
                    float: left;
                    text-align: center;
                    width: 33%;
                }
        }
        .subtitle{
            // height: 30px;
            text-align: center;
            background: url(../../assets/imgs/dec1.png) no-repeat center center;
        }
    }
}